<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexStyles.css') }}">
    <script src="{{ url_for('static', filename='script/indexScript.js')}}"></script>
</head>
</head>
<body>
    <div class="center">
        <h1>Carbon Credit Calculator</h1>
        <div style="display: inline;"></div>
            <form id="subPlaneForm" action="/calculate" method="post" enctype="multipart/form-data">
                <label for="subPlane">กรอกจำนวนแปลงย่อย</label><input onchange="subPlaneInput()" class="subPlaneInput" type="number" id="subPlaneNo" name="subPlaneNo">
                <p style="color:red;">{{ ERROR }}</p>

                <div id="subPlaneContainer">

                </div>
            </form>
        </div>
    </div>
    
</body>
</html>